* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}


/* Full page container */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: #0f172a;
}


/* Card style */
#input-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 30px;
    width: 35%;
    border-radius: 10px;
    border: 4px solid purple;
    background-color: whitesmoke;
    /* background-color: #7b9bc9; */
    box-shadow: 0 0 10px 5px #e6eef0;
    transition: transform 0.3s ease;
}

#input-card:hover {
    transform: translateY(-5px);
    /* border: 6px solid purple; */
    box-shadow: 0 0 15px 10px #e6eef0;
}


/* Title */
.app-title {
    text-decoration: underline;
    /* color: #0f172a; */
}

.branch-section {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.input-fields {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
    color: #0f172a;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid purple;
}

#select-branch {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
}


/* Button */
#fetchBtn {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    color: white;
    background-color: #cbd5e1;
}

#fetchBtn:hover {
    background-color: black;
}


/*
Output Section CSS
*/
#output-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px 30px;
    width: 35%;
    border-radius: 10px;
    border: 4px solid purple;
    background-color: whitesmoke;
    /* background-color: #7b9bc9; */
    box-shadow: 0 0 10px 5px #e6eef0;
    transition: transform 0.3s ease;

}

#output-card:hover {
    transform: translateY(-5px);
    /* border: 6px solid purple; */
    box-shadow: 0 0 15px 10px #e6eef0;
}


#details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    /* background-color: chocolate; */
}

#result {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: 34vh;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    overflow: scroll;
    background: linear-gradient(180deg, rgba(9, 9, 135, 1) 30%, rgba(63, 63, 196, 1) 100%);
}

/* 
Full Path Container CSS
*/

/* Fullscreen overlay */
/* Overlay stays the same */
#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

/* URL container */
.url {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 25px 20px;
    max-width: 300px;
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: 0 -7px 25px white;
    background: linear-gradient(90deg, rgba(31, 20, 153, 1) 21%, rgba(9, 9, 121, 1) 84%);

    /* Slide-up animation */
    transform: translateY(50px);
    opacity: 0;
    animation: slideUp 0.6s ease-out forwards;
}

/* Slide-up animation */
@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Path detail row */
.path-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    width: 100%;
}

/* URL text */
.url-animate {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    overflow-x: scroll;
    border: 1px solid black;
    color: purple;
    background-color: #fff;
}


/* Copy button */
#copy-btn {
    padding: 8px 12px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(50, 30, 120);
    transition: background-color 0.3s ease;
}

#copy-btn:hover {
    background-color: rgb(24, 8, 82);
}









@media screen and (max-width: 768px) {

    #input-card,
    #output-card {
        width: 90%;
        margin: auto;
    }

    .app-title {
        font-size: 40px;
    }

    .app-des {
        font-size: 13px;
    }

    .input-fields,
    #select-branch {
        padding: 10px;
    }

    .url {
        padding: 25px 15px;
        width: 95%;
    }

    .url-animate {
        font-size: 14px;
    }

    .copy-btn {
        padding: 6px 10px;
        font-size: 14px;
    }

}